// NAVIGATION
.nav__link {
    
    &[data-type="navbar"] {
        // color: #000 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    }

    &[data-type="navbar-brand"]{
        &:hover {
            color: rgba(8, 150, 155, 0.932) !important; 
        } 
    }

    &:hover {
        text-decoration: none !important;
    }
}

.register {
    color: #fff !important;
    background-color: #00AEB5;
    border: 1px solid #fff;
    border-radius: 10px;
}

// HEADER
.header {
    background-color: #00AEB5;
    height: 577px;
    overflow: hidden;
    padding-top: 2rem;

   
}
// @media only screen and (max-width: 767px) {
//     // padding-top: 0;
// }
.header-image__container {
  @media only screen and (max-width: 767px) {
    display: none !important;
  }
//   @media only screen and (max-width: 768px)  and (min-width: 991px) {
//     position: absolute !important;
//     left: -5rem !important;
//   }
}

.header-row {
    max-width: 1024px;
    position: relative;
    bottom: -80px;

    @media only screen and (max-width: 767px) {
        bottom: -40px;
    }
}

// COLOR
.color__primary {
    color: #00AEB5;
}

// SECTION
.section {
    padding: 3rem 2rem;
}

.row__class {
    margin-bottom: 2rem;
}

// FEATURES LIST 
.styled__list {
    list-style: none;
}

.styled__bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00AEB5;
    margin-right: 1.5rem;
    vertical-align: center;
}

.playstore-button {
    width: 150px;
    height: auto;
}

.animation {
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
// LOADING
.loading {
    animation-name: loading;
    @extend .animation;
}


.facebook-icon {
    // height: 22px !important;
    // width: 22px !important;
}

// FORM
.form__heading {
    text-align: center;
    text-transform: capitalize;
}

// HELPER TEXT
.helper-text {
    color: rgb(225,0,0);
}

.submit__btn {
    color: #fff;
    background: #00AEB5;
    border: none;
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.first-letter {
    &:first-letter {
        text-transform: uppercase;
    }
}